/** Paleta de colores */


// White 

$white-100: #ffffff;
$white-200: #fcfcfc;
$white-300: #f7fcff;


// red 

  $red-100: #e92042;


// blue 

  $blue-100: #1a1a4c;
  $blue-200: #0c0139;

// black 

  $black-800: #000000;