@import 'colors';

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-ExtraLight.ttf');
  font-weight: 200;
}


@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-Regular.ttf');
  font-weight: 400;
}
  

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/Dosis-ExtraBold.ttf');
  font-weight: 800;
}


// Títulos

.title {
    &-1 {
      color: $blue-100;
      font-family: 'Dosis', sans-serif;
      font-size: 42pt;
      font-weight: 700;
    }
    &-2 {
      color: $blue-100;
      font-family: 'Dosis', sans-serif;
      font-size: 16pt;
      font-weight: 700;
    }
  }
  

// Links

.link {
  color: $blue-100;
  font-family: 'Dosis', sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

// Párrafos

.paragraph {
  color: #838383;
  font-family: 'Dosis', sans-serif;
  font-size: 14pt;
  font-weight: 500;
}