$unicorn-font-family: "Social" !default;
$unicorn-font-path: "/../../assets/fonts/unicorn-social" !default;

$icon-instagram_stroked: "\e900";
$icon-instagram_filled: "\e901";
$icon-twitter_filled: "\e902";
$icon-twitter_rounded_1: "\e903";
$icon-twitter-rounded_2: "\e904";
$icon-youtube: "\e905";
$icon-whatsapp_filled: "\e906";
$icon-whatsapp-stroked: "\e907";
$icon-angular: "\e908";
$icon-beats: "\e909";
$icon-firebase: "\e90b";
$icon-heroku: "\e90c";
$icon-html5: "\e90d";
$icon-javascript: "\e90e";
$icon-node-dot-js: "\e90f";
$icon-sass: "\e910";
$icon-typescript: "\e911";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-github: "\f09b";