<nav class="header__wrapper" [ngClass]="{'header__fixed': scrolled}">
  <section class="header__blank">
    <h2 class="header__title title-2" *ngIf="scrolled"
    [ngClass]="scrolled ? 'header__title-fadeIn' : 'header__title-fadeOut' ">
      Unicornio web profesional
    </h2>
  </section>
  <section class="header__options">
    <ul class="header__options-list">
      <li class="header__options-item" *ngFor="let link of links">
        <a class="header__options-link link" (click)="scrollTo(link.section)">
          {{ link.name }}
        </a>
      </li>
    </ul>
  </section>
</nav>