@import './../../../styles/_colors.scss'


.header 
  &__wrapper
    background-color: $white-200
    display: grid
    grid-template: 100% / 60% 40%
    width: 100%
  &__options
    &-item
      display: inline-block
      margin: 0 1rem
    &-list
      display: flex
      justify-content: center 
      padding: 1rem 0
      margin-bottom: 0

