@import './../../../styles/_colors.scss'


.header 
  &__wrapper
    background-color: $white-200
    display: grid
    grid-template: 100% / 60% 40%
    position: fixed
    top: 0
    width: 100%
    z-index: 998

  &__options
    &-item
      display: inline-block
      margin: 0 1rem
    &-list
      display: flex
      justify-content: center 
      padding: 1rem 0
      margin-bottom: 0
  &__fixed
    background-color: $white-300
    box-shadow: 0 1px 3px #cccccc
  &__title
    text-align: center
    margin-bottom: 0
    padding: 0.5rem 0
    &-fadeIn
      animation: fadeIn 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
    &-fadeOut
      animation: fadeOut 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

// Keyframes

  @keyframes fadeIn 
    0%
      transform: translateY(-50px)
      opacity: 0
    100%
      transform: translateY(0)
      opacity: 1
  
  @keyframes fadeOut
    0%
      transform: translateY(0)
      opacity: 1
    100%
      transform: translateY(-50px)
      opacity: 0
  