<nav class="header__wrapper">
  <section class="header__blank">
    <h2 class="header__blank-title" *ngIf="scrolled">
      Unicornio web profesional
    </h2>
  </section>
  <section class="header__options">
    <ul class="header__options-list">
      <li class="header__options-item">
        <a href="" class="header__options-link link">
          Inicio
        </a>
      </li>
      <li class="header__options-item">
        <a href="" class="header__options-link link">
          Sobre mí
        </a>
      </li>
      <li class="header__options-item">
        <a href="" class="header__options-link link">
          Portafolio
        </a>
      </li>
    </ul>
  </section>
</nav>