<aside class="sidebar__wrapper">
  <figure class="sidebar__logo">
    <img src="/assets/icons/unicorn.png" alt="" class="sidebar__logo-icon">
  </figure>
  <section class="sidebar__social">
    <a href="#" class="sidebar__social-item">
      <img src="/assets/icons/instagram.png" alt="">
    </a>
    <a href="#" class="sidebar__social-item">
      <img src="/assets/icons/twitter.png" alt="">
    </a>
    <a href="#" class="sidebar__social-item">
      <img src="/assets/icons/youtube.png" alt="">
    </a>
    <a href="#" class="sidebar__social-item">
      <img src="/assets/icons/whatsapp.png" alt="">
    </a>
  </section>
</aside>