@import '../../../styles/_colors.scss'

.footer
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 1rem 2rem
  background-color: $red-100
  &__link
    color: $white-100
    border-bottom: 1px dotted $white-100
    &:hover
      text-decoration: none
      color: #cccccc

.title-3
  color: $white-100
  text-align: center