<section class="start">
  <section class="start__title">
    <h1 class="title-1">Unicornio Web Profesional</h1>
    <figure class="start__photograph">
      <img src="/assets/images/Noa_Pecan_Mudcake.jpg" alt="" class="start__photograph-picture">
    </figure>
  </section>
  <section class="start__cards-wrapper">
    <section class="start__card" [ngClass]="card.class" *ngFor="let card of cards">
      <figure>
        <img [src]="card.icon" alt="" class="start__card-icon">
      </figure>
      <article>
        <p class="start__card-title title-3">
          {{ card.title }}
        </p>
        <p class="start__card-text paragraph">
          {{ card.text }}
        </p>
      </article>
    </section>
  </section>
  <figure class="start__rocket">
    <img src="/assets/icons/rocket.png" alt="Rocketman" class="start__rocket-icon">
  </figure>
</section>