<section class="about">
  <h4 class="about__title title-2" 
  [ngClass]="{'animated fadeInLeft': isInAboutSection}">
    Acerca de mí
  </h4>
  <article class="about__text"
  [ngClass]="{'animated fadeInDown': isInAboutSection}">
    <p class="paragraph">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa commodi consectetur officia non expedita, officiis placeat obcaecati est iusto voluptatem iste quod? Est, dignissimos doloribus incidunt molestias rem harum inventore!
    </p>
    <p class="paragraph">
      <strong>- ¿Dónde quieres trabajar?</strong> Indudablemente en Platzi 💚
    </p>
  </article>
</section>