@import '../../../styles/_colors.scss'

.about
  margin: 15% 10%
  width: 100%
  &__title 
    margin-bottom: 1.5rem
  &__text
    background-color: $white-100
    border-radius: 10px
    box-shadow: 0 4px 5px  #cccccc
    margin: 0
    padding: 1rem 1.5rem
    width: 48%
    text-align: justify